
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.profile-pic{
    width:80px;
    height: 80px;
    border-radius: 50px;
    object-fit: cover;
    object-position: top;
}

.nav-links{
    display: flex;
    list-style: none;
}

.linked-in-ref{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main{
    max-width: 88%;
    margin: 0 auto;
}

section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 30px;
}

section > h2{
    flex: 0 0 23%;
    text-align: right;
    padding-right: 20px;
    border-right: 3px solid black;
}

section>div{
    flex: 0 0 77%;
    padding-left: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item{
    border: 5px solid black;
    height: 150px;
    display: flex;
    align-items: flex-end;
    margin: 0.5em;
    flex-basis: calc(50% - 1em);
    padding: 0 0 20px 0;
    background-size: 50%;
    text-decoration: none;
    color: white;
    transition:all 0.5s;
    background-blend-mode: soft-light;
    background-color: rgb(19, 71, 71);
}

.flex-item div{
    padding: 8px 10px;
    background-color: blue;
}

.flex-item:first-child{
    min-height: 300px;
    flex-basis: 100%;
}

.javascript{
background-image: url(../javascript.png);
}

.react{
background-image: url(../react.jpg);
}

.mern{
background-image: url(../mern.png);
}

.sql{
background-image: url(../sql.png);
}

.project{
background-image: url(../project.png);
}

@media screen and (max-width:768px) {
    .flex-item, .flex-item:first-child {
        flex-basis: 100%;
    }
    .flex-item:first-child{
        min-height: 150px;
    }
}

.flex-item:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.contacts{
    display: flex;
    flex-wrap: wrap;
}